:host {
  display: inline-block;
}

:host ::ng-deep .mdc-switch__icon {
  display: none;
}

:host ::ng-deep .mdc-switch {
  position: relative;

  --mdc-switch-selected-icon-size: 0;
  --mdc-switch-unselected-icon-size: 0;
}
