:host {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.dark-theme :host {
  background-color: rgba(40, 40, 40, 0.6);
}

.light-theme :host {
  background-color: rgba(215, 215, 215, 0.6);
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1200px;
}
