:host {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  background-color: rgba(40, 40, 40, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* Ensure it's above other content */
  height: 60px; /* or however tall your footer is */
}

.container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
