.container {
  background-color: var(--app-accent);
  padding: 35px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button-container {
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.button-container button {
  padding: 4px;
  margin: 4px;
}
