<div class="form-container">
  <h1>Login to continue your journey</h1>
  <mat-button-toggle-group
    (valueChange)="method.set($event)"
    [value]="method()"
    class="toggle-group"
  >
    <mat-button-toggle class="button" value="password"
      >Password</mat-button-toggle
    >
    <mat-button-toggle class="button" value="otp">OTP</mat-button-toggle>
  </mat-button-toggle-group>

  <form (ngSubmit)="onSubmitForm()" [formGroup]="signUpForm">
    <div class="control-container">
      <label for="email">Enter your email here</label>
      <input
        autocomplete="email"
        id="email"
        type="text"
        placeholder="Email"
        formControlName="email"
      />
      @if(emailEmpty){
      <div class="error">This field is required</div>
      } @else if (emailPending) {
      <div class="error">
        <p>Please wait whilst we check if your email address is available</p>
      </div>
      }@else if(emailInvalidError){
      <div class="error">Please enter a valid email address</div>
      } @else if (emailTaken) {
      <div class="error">
        <p>
          This email address is already in use. Please entre a different address
        </p>
      </div>
      } @else if (emailCheckFailed) {
      <div class="error">
        <p>
          We where unable to check for email availability. Please try again
          later.
        </p>
      </div>
      }
    </div>

    @if (method()==='password') {
    <div class="control-container">
      <label for="name">Enter password here</label>
      <input
        autocomplete="new-password"
        id="password"
        type="password"
        placeholder="Password"
        formControlName="password"
      />

      <button (click)="onTogglePasswordHidden()">
        {{ passwordVisible ? "hide password" : "show password" }}
      </button>
      @if(passwordEmpty){
      <div class="error">This field is required</div>
      }
    </div>
    }

    <button [disabled]="!signUpForm.valid" type="submit">
      {{ method() === "password" ? "Log In" : "Request OTP" }}
    </button>
  </form>
</div>
