@use "@angular/material" as mat;

@include mat.core();

$rose-red-primary: mat.m2-define-palette(mat.$m2-red-palette, 500, 300, 700);
$rose-red-accent: mat.m2-define-palette(mat.$m2-red-palette, 300, 100, 500);

$magenta-primary: mat.m2-define-palette(mat.$m2-purple-palette, 500, 300, 700);
$violet-accent: mat.m2-define-palette(
  mat.$m2-deep-purple-palette,
  200,
  100,
  400
);

$light-theme: mat.m2-define-light-theme(
  (
    color: (
      primary: $rose-red-primary,
      accent: $rose-red-accent,
    ),
  )
);

$dark-theme: mat.m2-define-dark-theme(
  (
    color: (
      primary: $magenta-primary,
      accent: $violet-accent,
    ),
  )
);

.light-theme {
  @include mat.all-component-themes($light-theme);
}
.dark-theme {
  @include mat.all-component-themes($dark-theme);
}
